<!DOCTYPE html>
<html lang="en">
<head>
    {{>Headerlink}}
</head> 
<body>
 {{>navbar}}
   <div class = "container-fluid main_header ">
    <div class = "row">
        <div class="col-md-10 col-12 mx-auto">
            <div class = "row">
                <div class = "col-md-6 col-12 main_header_left align-items-centre ">
                    
                    <a href="/" target="_blank"> <button>Back to Home Page</button></a>
                </div> 
                <div class = "col-md-6 col-12 main_header_right">
                     <figure class = "errimg">
                        <img src = "photo/404.jpg" alt = "Aman" class = "img-fluid" title = "Aman Kumar">
                     </figure> 
                </div>
            </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>   
