<!DOCTYPE html>
<html lang="en">
<head>
    {{>Headerlink}}
</head> 
<body>
 {{>navbar}}
   <div class = "container-fluid main_header ">
    <div class = "row">
        <div class="col-md-10 col-12 mx-auto">
            <div class = "row">
                <div class = "col-md-6 col-12 main_header_left align-items-centre ">
                    <p> Myself Aman Kumar </p>
                    <h1> Studying in MNNIT Allahabad , CSE  </h1>
                    <a href="https://leetcode.com/u/amankumaransh6209/" target="_blank"> <button>About Me</button></a>
                </div> 
                <div class = "col-md-6 col-12 main_header_right">
                     <figure>
                        <img src = "photo/About.jpg" alt = "Aman" class = "img-fluid" title = "Aman Kumar">
                     </figure>
                </div>
            </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>     